
GUI_AP3/bin/Debug/GUI_AP3.exe
GUI_AP3/bin/Debug/GUI_AP3.exe.config
GUI_AP3/bin/Debug/GUI_AP3.pdb
GUI_AP3/bin/Debug/GUI_AP3.vshost.exe
GUI_AP3/bin/Debug/GUI_AP3.vshost.exe.manifest
GUI_AP3/bin/Debug/GUI_AP3.vshost.exe.config
GUI_AP3/obj/Debug/App.g.cs
GUI_AP3/obj/Debug/App.g.i.cs
GUI_AP3/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GUI_AP3/obj/Debug/GUI_AP3.csproj.FileListAbsolute.txt
GUI_AP3/obj/Debug/GUI_AP3.csproj.GenerateResource.Cache
GUI_AP3/obj/Debug/GUI_AP3.csprojResolveAssemblyReference.cache
GUI_AP3/obj/Debug/GUI_AP3.exe
GUI_AP3/obj/Debug/GUI_AP3.g.resources
GUI_AP3/obj/Debug/GUI_AP3.pdb
GUI_AP3/obj/Debug/GUI_AP3.Properties.Resources.resources
GUI_AP3/obj/Debug/GUI_AP3_MarkupCompile.i.cache
GUI_AP3/obj/Debug/GUI_AP3_MarkupCompile.cache
GUI_AP3/obj/Debug/MainWindow.baml
GUI_AP3/obj/Debug/MainWindow.g.cs
GUI_AP3/obj/Debug/MainWindow.g.i.cs
